@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}


.login_bg{
	
	background: url(../images/login_bg.jpg) repeat-x;
   			 }
.header_cs
{
	margin-left:200px;
	margin-top: 50px;
	height: 100px;
}
.login_left
{
	background-color:#9370DB;
	width:auto;
	margin-left:200px;
	margin-top:22px;
	float: left;
	
 }
 .login_right
 {
 		background: url(../images/login_right.jpg) no-repeat ;	
 		width: auto;
 		height:400px;
 		margin-left:622px;
 }
 
 .login_right dl {
    width: 200px;
}
.login_right dt {
    float: left;
    height: 20px;
    padding-left:90px;
    line-height: 20px;
    width:auto;
    margin: 7px 0;
}
.login_right dd {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 7px 0;
}
.login_right .btn_dl, .login_right .btn_cz {
    border-width: 0 !important;
    cursor: pointer;
    margin: 0 1px;
    outline-width: 0;
}
#tr
{
	
	 height: 30px;
}
#input_bt
{
	width: 60px;
	background-color:#9370DB;
}


.span_right
{
	float:right;
	display: inline;
	margin-right: 60px;
	margin-top: 45px;
}
.return_right
{
	position: absolute;
	margin-top: 45px;
	right: 15px;
}
.header_line
{
	margin-top:5px;
	width: 100%;
	height: 3px;
	background-color:#AB82FF;
}

section{
	margin-top: 3px;
	height: 600px;
	background: white;
	width: 75%;
	float: left;
	position: relative;
}

#new_gra
{
	
	text-align: center;
	margin-top: 250px;
}
#create_gra
{
	display: none;
}
aside
{
	margin-top: 3px;
	height: 600px;
	background:white;
	width: 24.5%;
	float: right;
}

#td_left
{
	text-align: left;
}
#td_right
{
	text-align: right;
}
#tr_hight
{
	margin-top: 10px;
}

#but_left
{
	float: left;
}


		
	